@-moz-viewport {width: device-width; scale: 1;}
@-ms-viewport {width: device-width; scale: 1;}
@-o-viewport {width: device-width; scale: 1;}
@-webkit-viewport {width: device-width; scale: 1;}
@viewport {width: device-width; scale: 1;}

html {
    box-sizing: border-box;
    
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    font-family: 'Oswald', sans-serif;
    font-family: 'Pacifico', cursive;
}

*, *::before, *::after {
    box-sizing: inherit;

}

body {
    padding: 0;
    margin: 0;
}

.banner {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 300px;
}

h1 {
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 60px;
    font-weight: 200;
    color: black;
}

.description {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 25px;
    font-weight: 300;
    padding-left: 2em;
    padding-right: 2em;
}

p {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    padding-left: 2em;
    padding-right: 2em;
}

footer {
    text-align: center;
    margin: auto 0;
}

.social {
    width: 40px;
    margin: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
}
    
    
    
    
    

