@-moz-viewport {width: device-width; scale: 1;}
@-ms-viewport {width: device-width; scale: 1;}
@-o-viewport {width: device-width; scale: 1;}
@-webkit-viewport {width: device-width; scale: 1;}
@viewport {width: device-width; scale: 1;}

html {
    box-sizing: border-box;
    
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    font-family: 'Raleway', sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;

}

body {
    display: block;
    margin: 0 auto;
    overflow-x: hidden;
}

/* NAVIGATION BAR */

.skip-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.skip-links a {
    position: absolute;
    top: -3em;
    padding: 0;
    background-color: #ef4136;
    color: #fff;
    font-weight: bold;
    font-size: 1.25em;
    text-decoration: none;
}

.skip-links a:focus {
    top: 0;
}

.toggle {
    position: absolute;
    height: 2.25em;
    margin-top: 1.75em;
    margin-right: 1.75em;
    right: 0em;
    opacity: 60%;
}

.nav {
    list-style-type: none;
    text-align: left;
    position: absolute;
    right: 0em;
}

.nav li {
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: 1.2em;
    display: inline-block;
    text-decoration: none;
    padding-top: 1.1em;
    padding-right: 1.5em;
}

.nav a,
.nav a:link,
.nav a:visited {
  display: block;
  color: #1fb296;
  text-decoration: none;
}

.nav a:hover,
.nav a:focus,
.nav a:active,
.nav .nav-current,
.nav .nav-current:link,
.nav .nav-current:visited {

  color: #1fb296
}

/* NAVIGATION BAR */

.banner {
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
}

.about {
    padding-top: 30px;
}

h1 {
    text-align: center;
    font-size: 60px;
    font-weight: 200;
    color: #1fb296;
}

.description {
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 60px;
}

.portfolio {
    margin: none;
    padding: 0;
}

.piece {
    width: 100%;
    margin: none;
    padding: 0;
}

footer {
    text-align: center;
    margin: auto 0;
    background-color: grey;
    padding-top: 200px;
    padding-bottom: 100px;
}

.social {
    width: 40px;
    margin: 10px;
    padding-top: 80px;
    padding-bottom: 10px;
    text-decoration: none;
}

a {
    text-decoration: none;
}

@media only screen and (min-width: 30em) /* LANDSCAPE - MOBILE */ {
    
    .description {
        text-align: center;
        font-size: 20px;
        font-weight: 300;
        padding-left: 1em;
        padding-right: 1em;
        padding-bottom: 100px;
}
    
 
    
}

@media only screen and (min-width: 48em) /* TABLET */ {
    
    
    .piece {
        width: 50.0000%;
        display: inline-block;
        float: left;
    }
}

@media only screen and (min-width: 72em) /* DESKTOP */ {
    
    .description {
        text-align: center;
        font-size: 25px;
        font-weight: 300;
        padding-left: 12em;
        padding-right: 12em;
        padding-bottom: 100px;
    }
    
    .piece {
        width: 33.3333%;
        display: inline-block;
        float: left;
    }

